{% extends 'base.html.twig' %}

{% block title %}Les velos de ouf{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="alert alert-secondary">
            <h1 class="h1 text-center ">Une App de vélo</h1>
            </div>
            <ul class="list-group">
                <a href="{{ path('velo_new') }}"><li class="list-group-item">Créer un velo</li></a>
                <a href="{{ path('velo_index') }}"><li class="list-group-item">Consulter les vélos</li></a>
                <a href="{{ path('contact') }}"><li class="list-group-item">Nous contacter</li></a>
{#                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>#}
            </ul>
        </div>
    </main>
{% endblock %}
